body{
    background-color:lavender
   
}

img{
    width: 900px;
}

p{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}